.App {
  text-align: center;
}

.flash-card{
  font-size: 24px;
  line-height: 80px;
  width: 216px;
  margin: 18px;
  cursor: pointer;
  user-select: none;

}
.flash-card.front{
background-color: bisque;
}
.flash-card.back{
background-color: cadetblue;
}